   h1{
            color:darkblue;
            font-size: 65px;

        }
        button{
            color: white;
            background-color: royalblue;
            font-size: 35px;
            font-weight: bold;
            outline:none;
            border-radius: 10px;
            border: none;
        }