.flower_blocks{
    width: 200px;
    height: 200px;
    border: 3px solid;
    border-color: gray;
}
#red_block{
    background-color: red;
    float: left;
    border-radius:0% 70% 0% 70%;
}
#darkblue_block{
    background-color: darkblue;
    float: left;
    border-radius:70% 0% 70% 0%;

}
#green_block{
    border-radius:0% 70% 0% 70%;

}
#orange_block{
    background-color:orange;
    float: left;
    border-radius:70% 0% 70% 0%;

}
#purple_block{
    background-color: green;
    float: left;
    border-radius:0% 70% 0% 70%;

}